<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head" lang="en">
        <title>WEPA-Tweets</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    </head>
    <body>
        <header th:fragment="header">
            <div class="jumbotron">
            <div class="container">HEADER</div>
            </div>
        </header>
        <section th:fragment="sidebar">
            <ul>
                <!--<li sec:authorize="isAnonymous()"><a th:href="@{/login}">Login</a></li>-->
                <li sec:authorize="isAnonymous()"><a th:href="@{/register}">Register</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </section>
    </body>
</html>
