<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head" lang="en">
        <title>WEPA-Tweets</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <!--<link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}"/>-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    </head>
    <body>
        <header th:fragment="header">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4" style="text-align: center">WEPA-Tweets</h1>
                    <p class="lead" style="text-align: center">40-hour project for <a href="https://web-palvelinohjelmointi-21.mooc.fi/">Web-palvelinohjelmointi Java, 2021</a> <br>(realized with Java+Spring Boot)</p>
                </div>
            </div>
        </header>
        <section th:fragment="sidebar">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <div class="btn-group-vertical">
                        <a class="btn btn-outline-info" th:href="@{/}">Home</a>
                        <a class="btn btn-info" style="margin-top: 5px" th:href="@{/login}" sec:authorize="isAnonymous()">Login</a>
                        <a class="btn btn-info" style="margin-top: 5px" th:href="@{/register}" sec:authorize="isAnonymous()">Register</a>
                        <a class="btn btn-outline-info" style="margin-top: 5px" th:href="@{/logout}" sec:authorize="isAuthenticated()">Logout</a>
                    </div>
                </li>
            </ul>
            <div class="input-group input-group-sm mb-3" style="margin-top: 10px">
                <input type="text" class="form-control" id="searchterm"/>
                <div class="input-group-append">
                    <button class="btn btn-outline-info" id="submitSearch" onclick="searchTweetters()">Search</button>
                </div>
            </div>
            <section id="searchResults">
                <ul class="list-unstyled" style="margin-top: 5px" id="searchResultsList">
                    <!--this empty space acts as firstChild of this element-->
                </ul>
            </section>
        </section>
        <section th:fragment="footer">
            <script th:inline="javascript"> var contextRoot = /*[[@{/}]]*/ '';</script>
            <script th:src="@{/javascript/code.js}" defer></script>
        </section>
    </body>
</html>
