<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head">
        <meta charset="UTF-8" />
        <!--<title>Hello world</title>-->
        <title>wepa-tweets</title>
    </head>
    <body>
        <!--<h1 th:text="${'Hello ' + message}">Hello world</h1>-->
        <div th:replace="fragments/layout :: header"></div>
        
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <div th:replace="fragments/layout :: sidebar"></div>
                </div>
                <div class="col-3">
                    <input type="text" class="form-control" id="searchterm"/>
                    <button class="btn btn-primary" style="margin-top: 10px" id="submitSearch" onclick="searchTweetters()">Search Tweetters!</button>
                    <section id="searchResults">
                        <ul id="searchResultsList">
                            
                        </ul>
                    </section>
                </div>
                <div class="col-7">
                    <h1>Latest messages:</h1>
                    <ul class="list-unstyled">
                        <li th:each="message : ${messages}">
                            <h5><a th:href="@{/wepa-tweetter/__${message.tweetter.random}__}" th:text="${message.tweetter.username}">username</a> says:</h5>
                            <p th:text="${message.messageContent}">messageContent</p>
                            <p th:text="${#temporals.format(message.timestamp, 'dd-MM-yyyy HH:mm')}">timestamp</p>
                            <p th:id="'like' + ${message.id}" th:value="${#lists.size(message.likes)}" th:text="'Likes: ' + ${#lists.size(message.likes)}">0</p>
                            <section sec:authorize="isAuthenticated()">
                                <button class="btn btn-primary" th:id="'btn' + ${message.id}" th:onclick="'likeMessage(' + ${message.id} + ')'">Like</button>
                            </section>
                            <button class="btn btn-primary" th:onclick="'toggleComments(' + ${message.id} + ')'">Open comments</button>
                            <div th:id="'comments' + ${message.id}" style="display: none">
                                <ul class="list-unstyled">
                                    <li>
                                        <section sec:authorize="isAuthenticated()">
                                            <div class="form-group">
                                                <input type="text" class="form-control" th:id="'newcomment' + ${message.id}" name="newComment" />
                                                <button class="btn btn-primary" style="margin-top: 10px" id="submitComment" th:onclick="'submitComment(' + ${message.id} + ')'">Submit new comment!</button>
                                            </div>
                                        </section>
                                    </li>
                                    <li th:if="${#lists.isEmpty(comments)}" id="nocommentsyet">No comments yet.</li>
                                    <li th:each="comment : ${comments}">
                                        <h6><a th:href="@{/wepa-tweetter/__${comment.tweetter.random}__}" th:text="${comment.tweetter.username}">username</a> says:</h6>
                                        <p th:text="${comment.commentContent}">commentContent</p>
                                        <p th:text="${#temporals.format(comment.timestamp, 'dd-MM-yyyy HH:mm')}">timestamp</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <button class="collapsible" onclick="toggleComments(12)">testi</button>
                    <div class="testiClass" id="comments12" style="display: none"><p>tekstiä</p></div>
                </div>
            </div>
        <script th:inline="javascript"> var contextRoot = /*[[@{/}]]*/ '';</script>
        <script th:src="@{/javascript/code.js}" defer></script>
    </body>
</html>
