<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head">
        <meta charset="UTF-8" />
        <!--<title>Hello world</title>-->
        <title>wepa-tweets</title>
    </head>
    <body>
        <!--<h1 th:text="${'Hello ' + message}">Hello world</h1>-->
        <div th:replace="fragments/layout :: header"></div>
        
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <div th:replace="fragments/layout :: sidebar"></div>
                </div>
                <div class="col-4">
                    <input type="text" id="searchterm"/>
                    <button id="submitSearch" onclick="searchTweetters()">Search Tweetters!</button>
                    <section id="searchResults">
                        <ul id="searchResultsList">
                            
                        </ul>
                    </section>
                </div>
                <div class="col-6">
                    FRONT PAGE
                </div>
            </div>
        </div>
        <script th:inline="javascript"> var contextRoot = /*[[@{/}]]*/ '';</script>
        <script th:src="@{/javascript/code.js}" defer></script>
    </body>
</html>
