<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head">
        <meta charset="UTF-8" />
        <!--<title>Hello world</title>-->
        <title>wepa-tweets</title>
    </head>
    <body>
        <div th:replace="fragments/layout :: header"></div>
        
        <div class="container">
            <div class="row">
                <div class="col-2">
                    
                </div>
                <div class="col-10">
                    <form th:action="@{/register}" method="POST">
                        <input type="text" name="username">username</input>
                        <input type="text" name="password">password</input>
                        <input type="text" name="realname">real name</input>
                        <input type="text" name="random">favourite random string</input>
                        <input type="submit" value="Register!"/>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>