<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head">
        <meta charset="UTF-8" />
        <title th:title="wepa-tweetter: +${tweetter.usename}">wepa-tweetter</title>
    </head>
    <body>
        <div th:replace="fragments/layout :: header"></div>
        
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <div th:replace="fragments/layout :: sidebar"></div>
                </div>
                <div class="col-10">
                    <div class="row">
                    <ul class="list-unstyled">
                        <li><span th:text="${tweetter.username}">username</span><img th:if="${tweetter.profileImage != null}" th:src="@{/images/{id}(id=${tweetter.profileImage.id})}" class="mr-3 img-thumbnail" th:alt="'profile image of ' + ${tweetter.username}" width="200" height="auto" style="margin-left: 10px" /></li>
                        <li><span th:text="${tweetter.random}">debug</span></li>
                        <li><a th:href="@{/wepa-tweetter/__${tweetter.random}__/album}">Link to image album</a></li>
                    </ul>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <ul class="list-unstyled">
                                <li th:each="message : ${messages}">
                                    <h5 th:text="${message.tweetter.username} + ' says:'">username:</h5>
                                    <p th:text="${message.messageContent}">messageContent</p>
                                    <p th:text="${#temporals.format(message.timestamp, 'dd-MM-yyyy HH:mm')}">timestamp</p>
                                    <p th:id="'like' + ${message.id}" th:value="${#lists.size(message.likes)}" th:text="'Likes: ' + ${#lists.size(message.likes)}">0</p>
                                    <section sec:authorize="isAuthenticated()">
                                        <button class="btn btn-primary" th:id="'btn' + ${message.id}" th:onclick="'likeMessage(' + ${message.id} + ')'">Like</button>
                                    </section>
                                </li>
                            </ul>
                        </div>
                        <div class="col-5">
                            <ul class="list-unstyled">
                                <li th:each="followedMessage : ${followedMessages}">
                                    <h5><a th:href="@{/wepa-tweetter/__${followedMessage.tweetter.random}__}" th:text="${followedMessage.tweetter.username}">username</a> says:</h5>                                    <p th:text="${followedMessage.messageContent}">messageContent</p>
                                    <p th:text="${#temporals.format(followedMessage.timestamp, 'dd-MM-yyyy HH:mm')}">timestamp</p>
                                    <p th:id="'like' + ${followedMessage.id}" th:value="${#lists.size(followedMessage.likes)}" th:text="'Likes: ' + ${#lists.size(followedMessage.likes)}">0</p>
                                    <section sec:authorize="isAuthenticated()">
                                        <button class="btn btn-primary" th:id="'btn' + ${followedMessage.id}" th:onclick="'likeMessage(' + ${followedMessage.id} + ')'">Like</button>
                                    </section>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <section th:if="${#authorization.expression('hasAuthority('''+tweetter.random+''')')}">
                        <h1>DASHBOARD:</h1>
                        <h3>Post new message:</h3>
                        <div class="form-group">
                            <form th:action="@{/newmessage}" method="POST">
                                <input type="text" class="form-control" name="message" placeholder="New message" />
                                <input type="submit" class="btn btn-primary" style="margin-top: 10px" value="Add new message" />
                            </form>
                        </div>
                        <h3>Tweetters you are following:</h3>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">username</th>
                                    <th scope="col">start of following</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="followed : ${tweettersFollowed}">
                                    <td th:text="${followed.followed.username}">username</td>
                                    <td th:text="${#temporals.format(followed.startFollowing, 'dd-MM-yyyy HH:mm')}">date</td>
                                    <td>
                                        <form action="/unfollow" method="POST">
                                            <input type="hidden" name="returnToUnfollow" th:value="${tweetter.random}" />
                                            <input type="hidden" name="unfollow" th:value="${followed.followed.username}" />
                                            <input type="submit" class="btn btn-primary" value="Unfollow" />
                                        </form>
                                    </td>
                                    <td>
                                        <form action="/block" method="POST">
                                            <input type="hidden" name="returnToBlock" th:value="${tweetter.random}" />
                                            <input type="hidden" name="block" th:value="${followed.followed.username}" />
                                            <input type="submit" class="btn btn-primary" value="Block" />
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h3>Tweetters who are following you:</h3>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">username</th>
                                    <th scope="col">start of following</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="followedBy : ${tweettersFollowedBy}">
                                    <td th:text="${followedBy.followedBy.username}">username</td>
                                    <td th:text="${#temporals.format(followedBy.startFollowing, 'dd-MM-yyyy HH:mm')}">date</td>
                                    <td>
                                        <form action="/block" method="POST">
                                            <input type="hidden" name="returnToBlock" th:value="${tweetter.random}" />
                                            <input type="hidden" name="block" th:value="${followedBy.followedBy.username}" />
                                            <input type="submit" class="btn btn-primary" value="Block" />
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
        </div>
        <script th:inline="javascript"> var contextRoot = /*[[@{/}]]*/ '';</script>
        <script th:src="@{/javascript/code.js}" defer></script>
    </body>
</html>
