<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head">
        <meta charset="UTF-8" />
        <title>wepa-tweets</title>
    </head>
    <body>
        <div th:replace="fragments/layout :: header"></div>
        
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <div th:replace="fragments/layout :: sidebar"></div>
                </div>
                <div class="col-10">
                    USER PAGE
                    <p th:text="${tweetter.username}">username</p>
                    <table>
                        <tr>
                            <th>Tweetters you are following:</th>
                        </tr>
                        <tr th:each="followed : ${tweettersFollowed}">
                            <td th:text="${followed.username}">username</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
